@import url("common.css");
.product .nav_list li:nth-child(3){
	background: #1983b2;
	
}
.product .nav_list li:nth-child(3) a{
	color: #FFF
}
.product .product_banner{
	min-width: 1200px;
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}
.product .product_banner img{
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
.product .content{
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.product .pro_classify_list ul{
	overflow: hidden;
	margin-top:50px; 
}
.product .pro_classify_list li{
	float: left;
	width:50%;
	text-align: center;
	margin-bottom:25px
}
.product .pro_classify_list li>div{
	background-color: #eb6877;
	width: 250px;
	border-radius: 18px;
	margin:0 auto;
	height: 36px;
	line-height: 36px;
	font-size: 20px;
	color: #FFF;
	font-family: "黑体"
}
.product .pro_classify_list li>div a{
	color: #FFF;
}
.product .pro_classify_list li>div:hover{
	background-color: #cb031a
}
.product .pro_supply{
	margin-top: 50px;
	overflow: hidden;
}
.product .supply_btn{
	overflow: hidden;
}
.product .supply_btn>div{
	float: right;
	width: 38px;
	height: 38px;
	background-color: #00b7ee;
	margin-right: 10px;
	text-align: center;
	font-size: 36px;
	line-height: 38px;
	color: #FFF;
}
.product .pro_supply_text{
	overflow: hidden;
}
.product .pro_supply_text .img{
	border:1px solid #C4C4c4
}

.product .text{
	width: 927px;
	overflow: hidden;
	margin-bottom: 40px;
	padding: 0px 15px 0 15px;
	float: left;

}
.product .text .text_title{
	font-size: 24px;
	font-weight: bold;
}
.product .text .text_exp{
	font-size: 18px;
	color: #00b7ee;
	font-weight: bold;
}
.product .text .text_exp span{
	width: 8px;
	height: 8px;
	border-radius:50%;
	background-color: #00b7ee;
	display: block;
	float: left;
	margin: 8px 10px 0 0;
}
.product .text .text_detail{
	color:#adaeaf
}
.product .text .check_more{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #00a0e9;
	color: #FFF;
	float: right;
	margin-top: 8px;
}
.product .text .check_more:hover{
	background-color: #055072;
}
.product .paging li:nth-child(4){
	background: #0a4d6d;
}
